.font-lg {
  font-size: 2rem;
  text-align: center;
  flex: 1;
  margin-top: 20px;
}

.card-block {
  min-height: 15rem;
}

.font-lg:hover {
  text-decoration: none;
}

.card-container {
  perspective: 1000px;
}

.flip-card {
  height: 20rem;
  min-width: 15rem;
  font-size: 2.5rem;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  opacity: 1;
  transition-delay: 0.05s;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.flip-card.vd-none {
  opacity: 0;
  transition: opacity 0.73s ease;
}

.flip-card .front {
  background-color: #343a40 !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card .back {
  background-color: #343a40 !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card .back {
  transform: rotateY(180deg);
}

.flip-card.hidden {
  transform: translateX(-15rem);
  margin-right: -15rem;
  opacity: 0;
  transition: all 0.75s ease;
}

.flip-card.hidden-right {
  margin-right: -15rem;
  margin-left: 0;
  opacity: 0;
  transition: opacity 0.75s ease, margin-right 0.75s ease;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.card-details {
  font-size: 1.5rem;
}

.card-direction {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.card-direction.disabled {
  opacity: 0.8;
}

.header-text {
  font-size: 40px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: white;
}

.header-logo {
  float: left;
}

.navbar {
  text-align: center;
}

.hello-user {
  padding-top: 15px;
  font-size: 20px;
  color: white;
}

.travel-text {
  color: #007bfe;
}

.home-text {
  color: grey;
}

.food-text {
  color: #ffc106;
}

.work-text {
  color: #333940;
}

.social-text {
  color: #27a745;
}

.yourmomjokes-text {
  color: #dc3545;
}

.home-background-color {
  background-color: #e3e3e3;
}

.travel-background-color {
  background-color: #f5faff;
}

.food-background-color {
  background-color: #fffcf5;
}

.work-background-color {
  background-color: #f7f7f7;
}

.social-background-color {
  background-color: #f9fffb;
}

.yourmomjokes-background-color {
  background-color: #fffbfa;
}

.travel-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007bfe;
  color: white;
  text-align: center;
}

.food-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffc106;
  color: white;
  text-align: center;
}

.work-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333940;
  color: white;
  text-align: center;
}

.social-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #27a745;
  color: white;
  text-align: center;
}

.yourmomjokes-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dc3545;
  color: white;
  text-align: center;
}

.footer-text {
  padding-top: 10px;
  font-size: 15px;
  padding-bottom: 0px;
}

.knucklespicture {
  padding-top: 10px;
  padding-bottom: 10px;
}

.homeprogress10 {
  font-size: 1.5rem;
}

.home-progress-travel {
  font-size: 1.5rem;
}

.home-progress-food {
  font-size: 1.5rem;
}

.home-progress-work {
  font-size: 1.5rem;
}

.home-progress-social {
  font-size: 1.5rem;
}

.home-progress-jokes {
  font-size: 1.5rem;
}

.footerpadding {
  padding-top: 30px;
  padding-bottom: 30px;
}